pytest_session.txt
_build.*
.sconsign.dblite
config.log
.sconf_temp
.cache
.pytest_cache
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
doc/xml
examples/basics
examples/readwcs
lib/libastshim.*
tests/.tests
version.py
